.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  background-color: #242038;
  background-image: url('./common/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #B8D4E3;
  font-family: 'Righteous', cursive;
  @media screen and (max-width: 599px) {
    padding: 0;
  }
  @media screen and (min-width: 600px) and (max-width: 1023px) {
    padding: 0;
  }
  .title {
    font-size: 50px;
    margin: 20px 0;
    @media screen and (max-width: 1023px) {
      margin: 10px 0;
    }
  }
}